/**{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 scroll-behavior: smooth;
}*/
.section__padding {
    padding: 4rem 5rem;
}
.flex__center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.app__bg{
    background-position:center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.app__wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
